@model IEnumerable<Web.Entidad.Models.Comandas>
@using GridMvc.Html

@{
    //ViewBag.Title = "Index";
    var numeroFilas = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["rowGrid"]);
    
}

@{
    ViewBag.Title = "Comanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
     @Html.DropDownList("categoriaId",null,"ninguna", new { @class="form-control", @onchange = "choose(this.value)" })
    </div>
    <div class="col-md-8 productos"></div>
</div>
<br />
<hr />

<hr />

<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered tabla" style="display:none;">
            <thead><tr><th>Comida</th><th>Cantidad</th><th>Precio</th><th>Eliminar</th></tr></thead>
            <tbody></tbody>
        </table>
    </div>

    
<form id="formu" method="post" action="@Url.Action("agregarComanda","Comandas")">

<input type="hidden" name="usuarioId" value="1"/>
    <input type="submit" value="enviar"/>
</form>

    

</div>
@section Scripts{
    <script type="text/javascript">

        var contador = 0;

        function agregar(id, nombre, precio) {
            $(".tabla").show();
            //console.log(id + nombre + precio)
           // $(".tabla tbody tr").find(function () {
            $(".filtro").each(function() {

                if ($(this).text() == nombre) {
                  $(".tabla tbody tr .cant").text(2)
                }
                else {
                  //  $(".tabla>tbody").append("<tr><td class='filtro'>" + nombre + "</td><td class='cant'></td><td>" + precio + "</td><td><button class='btn btn-danger'><span><i class='fa fa-times'></i></span></button></td></tr>")
                }
                })
            //});
            $(".tabla>tbody").append("<tr><td class='filtro'>" + nombre + "</td><td class='cant'></td><td>" + precio + "</td><td><button class='btn btn-danger'><span><i class='fa fa-times'></i></span></button></td></tr>")
            $("#formu").append("<input type='hidden' name=listaPedido[" + contador + "].nombre value='" + nombre + "'>")
            $("#formu").append("<input type='hidden' name=listaPedido[" + contador + "].precio value='" + precio + "'>")
            $("#formu").append("<input type='hidden' name=listaPedido[" + contador + "].nombre value='" + nombre + "'>")
            //console.log($(".tabla>tbody>tr").index())
            contador = contador + 1;
        }
        function choose(categoriaId) {

            $.ajax({
                url: '@Url.Action("listaProductos", "Comandas")',
                data: {categoriaId : categoriaId}

            }).done(function(data){
                    $(".productos").html(data)
            });
        }
    </script>
    
    }