@model IEnumerable<Web.Entidad.Models.Comandas>
@using GridMvc.Html

@{
    ViewBag.Title = "Comanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var numeroFilas = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["rowGrid"]);
    var listaPedidos = (List<Web.Models.ProductosPedidos>)Session["listaPedidos"];
}

<h2>Nueva Comanda</h2>
<hr />
<div class="row">
    <div class="col-md-12" style="margin-bottom:20px;">
        @Html.DropDownList("categoriaId", null, "ninguna", new { @class = "form-control", @onchange = "choose(this.value)" })
    </div>

    <div class="col-md-8 productos"></div>
     
   
</div>
<br />

<div class="row">
   
    <div class="col-md-8">
        <h3 style="font-family:Calibri;"> Pedido del cliente</h3>
        <hr />
        <form id="formu" method="post" action="@Url.Action("agregarComanda","Comandas")">
            <div id="tablaPedidos">

            </div>

            <input type="submit" class="btn btn-default" value="Crear Pedido" />
        </form>
    </div>
</div>





@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            agregarPedido();
        })
        $(function () {
            $(document).on('click', '#borrar', function (event) {
                var id = $(this).attr("data-cont");
                $.get('borrarPedidoTemporal?id=' + id, function () {

                })
                $("#campo").attr("data-id", id).remove();
                event.preventDefault();
                $(this).closest('tr').remove();

            });
        });
        var contador = 0;
        function agregarPedido(idProducto) {
            $.ajax({
                url: '@Url.Action("ListaPedidos", "Comandas")',
                data: { productoId: idProducto }

            }).done(function (data) {
                $("#tablaPedidos").html(data);
            });
        }


        function choose(categoriaId) {

            $.ajax({
                url: '@Url.Action("listaProductos", "Comandas")',
                data: { categoriaId: categoriaId }

            }).done(function (data) {
                $(".productos").html(data)
            });
        }
      
    </script>

}